{% extends 'ads/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="text-center">
<h2 class="mt-4"> Разместить объявление: </h2>
<form class="form-signin" action="{% url 'new' %}" method="post">
    {% csrf_token %}
    <div>{{ form.non_field_errors }}</div>
    {% for part in form %}
    {% if part.label == 'Цена' %}
    <p><label for="{{ part.id_for_label }}" class="form-label"> {{ part.label }}: </label> <div class="input-group"><div class="input-group-text">₽</div> {{ part }}</div></p>
    <div>{{ part.errors }}</div>
    {% else %}
    <p><label for="{{ part.id_for_label }}" class="form-label"> {{ part.label }}: </label>{{ part }} </p>
    <div>{{ part.errors }}</div>
    {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-dark btn-primary btn-block">Добавить</button>
</form>
</div>
{% endblock %}